<div class="main">
  <div class="header">
    <h1>Last Man Standing</h1>
    <h1>
      {{
        gameState && gameState.currentCategory !== undefined
          ? gameState.categories[gameState.currentCategory].category
          : 'Warten - Code: ' + code
      }}
    </h1>
    @if (gameState) {
      <h1>Runde {{ round }}</h1>
    } @else {
      <div>
        <app-settings />
      </div>
    }
  </div>

  <div class="wrapper">
    <div class="option-wrapper">
      @if (!gameState) {
        <app-file-upload (categoriesLoaded)="categories = $event" />
      } @else {
        <app-cards [isHost]="true" />
      }
    </div>
    <div style="margin-top: auto; margin-bottom: 3em">
      <app-player-list [isHost]="true" />
    </div>
  </div>

  <div class="footer">
    @if (!gameState) {
      <button
        class="btn"
        (click)="start(categories)"
        [disabled]="!room()?.players?.length || categories.length === 0"
      >
        Spiel starten
      </button>
    } @else if (
      wrongAnswers && 
      gameState.revealedAnswers.filter(r => r).length + wrongAnswers.filter(w => w).length < gameState.categories[gameState.currentCategory].answers.length
    ) {
      <button class="btn" (click)="revealAll()">Alle aufdecken</button>
    } @else if ((round ?? 0) >= room()!.gameState!.categories.length) {
      <button class="btn" (click)="showResults()">Zum Ergebnis</button>
    } @else {
      <button class="btn" (click)="nextRound()">Nächste Runde</button>
    }
    <button class="btn" (click)="endGame()">Spiel beenden</button>
  </div>
</div>
